{% extends 'main/base.html' %}

{% block title %} Ürünlerim {% endblock %}

{% block content %}

<div class="py-2">
    <div class="block rounded-lg shadow-lg bg-white py-1">
        <div class = "flex justify-center py-3">
            <p
          class="justify-center flex text-center inline-block rounded w-full mx-48 bg-blue-400 px-6 pb-2 pt-2.5 text-lg font-medium uppercase leading-normal text-white"
          >
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="text-white mr-1 w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
          </svg>
          
          SATICI DETAYLARI</p>
        </div>
        <div class = "flex justify-between -mb-8 h-64">
            {% if userprofile.premium_mu == 0 %}
            <div class="text-center ml-48 mt-8 mb-6 text-white py-1 px-7 uppercase w-40 rounded-lg bg-orange-400 hover:bg-orange-500 shadow hover:shadow-lg font-medium transition transform hover:-translate-y-0.5">
                <svg xmlns="http://www.w3.org/2000/svg" class = ""fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="text-white mr-1 w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 21v-7.5a.75.75 0 01.75-.75h3a.75.75 0 01.75.75V21m-4.5 0H2.36m11.14 0H18m0 0h3.64m-1.39 0V9.349m-16.5 11.65V9.35m0 0a3.001 3.001 0 003.75-.615A2.993 2.993 0 009.75 9.75c.896 0 1.7-.393 2.25-1.016a2.993 2.993 0 002.25 1.016c.896 0 1.7-.393 2.25-1.016a3.001 3.001 0 003.75.614m-16.5 0a3.004 3.004 0 01-.621-4.72L4.318 3.44A1.5 1.5 0 015.378 3h13.243a1.5 1.5 0 011.06.44l1.19 1.189a3 3 0 01-.621 4.72m-13.5 8.65h3.75a.75.75 0 00.75-.75V13.5a.75.75 0 00-.75-.75H6.75a.75.75 0 00-.75.75v3.75c0 .415.336.75.75.75z" />
                  </svg>
                <div class="px-5 justify-center flex">            
                    <p class = "text-center text-[32px]">NORMAL</p>
                </div>
                    <p class = "text-[16px]">Satıcı</p>
            </div>
            {% else %}
            <div class="text-center ml-48 mt-8 mb-6 text-white py-1 px-7 uppercase w-40 rounded-lg bg-fuchsia-600 hover:bg-fuchsia-700 shadow hover:shadow-lg font-medium transition transform hover:-translate-y-0.5">
                <svg xmlns="http://www.w3.org/2000/svg" class = "" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z" />
                  </svg>
                <div class="px-5 justify-center flex">            
                    <p class = "text-center text-[32px]">PREMIUM</p>
                </div>
                    <p class = "text-[16px]">Satıcı</p>
            </div>
            {% endif %}
            <div class = "w-48 h-48 bg-white mx-auto shadow-2xl flex items-center justify-center">
                {% if userprofile.photo %}
                  <img src="{{ userprofile.photo.url }}">
                  {% else %}
                  <img src="{{ logo }}">
                  {% endif %}
            </div>
            <a href = "{% url 'profiller' name.id %}" class="mr-48 mt-8 mb-6 text-white py-1 px-7 uppercase w-40 rounded-lg bg-sky-500 hover:bg-sky-600 shadow hover:shadow-lg font-medium transition transform hover:-translate-y-0.5">
                <svg xmlns="http://www.w3.org/2000/svg" class="" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                </svg>
                <p class = "text-center text-[42px]">{{ product_amount }}</p>
                <p class = "text-[16px]">Ürün Sahibi</p>
            </a>
        </div>
        <div class = "mb-12">
            <div class = "flex justify-center">
                <p class = "text-gray-400">Beyazoda satıcısı,</p>
            </div>
            <div class = "flex justify-center ">
                <p class = "font-medium text-orange-500 uppercase bg-orange-100 rounded-lg px-2 py-2 "> {% firstof name.get_full_name name.username %} </p> 
            </div>
        </div>
        
        
        <div class="justify-center">
            <section class="mb-32 text-gray-800 text-center">
                <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-x-6 lg:gap-x-0 items-center">
                    <div class="mb-12 lg:mb-0 relative">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-12 h-12 text-orange-400 mx-auto mb-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M8.625 9.75a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H8.25m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H12m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0h-.375m-13.5 3.01c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.184-4.183a1.14 1.14 0 01.778-.332 48.294 48.294 0 005.83-.498c1.585-.233 2.708-1.626 2.708-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z" />
                            </svg>
                            
                        <h5 class="text-lg font-bold text-orange-400 font-bold mb-4">{{ comment_amount }}</h5>
                        <h6 class="font-medium text-gray-500">Yorum Yazılmış</h6>
                        <hr class="absolute right-0 top-0 w-px bg-gray-200 h-full hidden lg:block" />
                    </div>
            
                    <div class="mb-12 lg:mb-0 relative">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-12 h-12 text-pink-500 mx-auto mb-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3c-1.354 0-2.694-.055-4.02-.163a2.115 2.115 0 01-.825-.242m9.345-8.334a2.126 2.126 0 00-.476-.095 48.64 48.64 0 00-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0011.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155" />
                            </svg>                                                   
                        <h5 class="text-lg font-bold text-pink-500 font-bold mb-4">{{ question_amount }}</h5>
                        <h6 class="font-medium text-gray-500">Soru Cevaplamış</h6>
                        <hr class="absolute right-0 top-0 w-px bg-gray-200 h-full hidden lg:block" />
                    </div>
                
                    <div class="mb-12 md:mb-0 relative">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-12 h-12 text-blue-600 mx-auto mb-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
                            </svg>
                            
                        <h5 class="text-lg font-bold text-blue-600 font-bold mb-4">{{ howmanysold }}</h5>
                        <h6 class="font-medium text-gray-500">Adet Satmış</h6>
                        <hr class="absolute right-0 top-0 w-px bg-gray-200 h-full hidden lg:block" />
                    </div>
                
                    <div class="relative">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-12 h-12 text-green-600 mx-auto mb-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75m-3-7.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285z" />
                        </svg>                                              
                        <h5 class="text-lg font-bold text-green-600 font-bold mb-4">
                            {% if average_rating != 0 %}
                            5/{{average_rating}}
                            {% else %}
                            Henüz puanlanmamış
                            {% endif %}
                        </h5>
                        <h6 class="font-medium text-gray-500 mb-0">Güven Oranı</h6>
                    </div>
                </div>
            </section>
        </div>
    </div> 
</div>
{% endblock %}

{% block bilgi %}

<div class="border-t border-b -mt-16 bg-gray-200">
  <div class="grid grid-cols-1 md:lg:xl:grid-cols-3 group bg-white shadow-xl shadow-neutral-100 border ">
      <div class="p-10 flex flex-col items-center text-center group md:lg:xl:border-r hover:bg-slate-50 cursor-pointer">
            <img src="{{ logo }}" style="height: 80px">
          <p class="text-xl font-medium text-slate-700 mt-3">Beyazoda.com</p>
          <p class="mt-2 text-sm text-slate-500">En güvenilir online beyaz eşya pazarı!</p>
      </div>

      <div class="p-10 flex flex-col items-center text-center group  md:lg:xl:border-r hover:bg-slate-50 cursor-pointer">
          <span class="p-5 rounded-full bg-orange-100 text-white"><svg class="h-10 w-10 text-orange-400"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <line x1="3" y1="21" x2="21" y2="21" />  <path d="M3 7v1a3 3 0 0 0 6 0v-1m0 1a3 3 0 0 0 6 0v-1m0 1a3 3 0 0 0 6 0v-1h-18l2 -4h14l2 4" />  <path d="M5 21v-10.15" />  <path d="M19 21v-10.15" />  <path d="M9 21v-4a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v4" /></svg></span>
          <p class="text-xl font-medium text-slate-700 mt-3">Pazarınız Hazır</p>
          <p class="mt-2 text-sm text-slate-500">Kendi pazarınız, kendi kurallarınız.</p>
      </div>

      <div class="p-10 flex flex-col items-center text-center group hover:bg-slate-50 cursor-pointer">
          <span class="p-5 rounded-full bg-blue-500 text-white"><svg class="h-10 w-10 text-teal-400"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14" />  <polyline points="22 4 12 14.01 9 11.01" /></svg>         
          </span>
          <p class="text-xl font-medium text-slate-700 mt-3">Güvenilir Ticaret</p>
          <p class="mt-2 text-sm text-slate-500">Müşteri memnuniyeti önceliğimizdir.</p>
      </div>
  </div>

  {% if request.user.userprofiles.premium_mu == 1 %}
  <div class="w-full bg-[#8abcd7] shadow-xl shadow-blue-400 py-10 px-20 flex justify-between items-center">
    <p class=" text-white"> <span class="text-4xl font-medium text-center">Beyazoda.com ailesi olarak size teşekkür ediyoruz!</span> <br> <span class="text-lg">İyi ki varsınız&nbsp;{% firstof user.get_full_name user.username %}&nbsp;!</span></p>
  </div>
  {% else %}
    {% if premium_basvurdu is None %}
        {% if request.user.userprofiles.satici_mi == 1 %}
        <div class="w-full bg-purple-600 shadow-xl shadow-purple-400 py-10 px-20 flex justify-between items-center">
            <p class=" text-white"> <span class="text-4xl font-medium">Premium mu olmak istiyorsunuz?</span> <br> <span class="text-lg">Koşulları görmek için başvurun! </span></p>
            <a href = "{% url 'premium_basvuru' %}" class="px-5 py-3  font-medium text-slate-700 shadow-xl hover:bg-white duration-150 bg-orange-300">HEMEN BAŞVURUN </a>
        </div>
        {% else %}
            {% if satici_basvurdu is None %}
            <div class="w-full bg-[#8abcd7] shadow-xl shadow-blue-200 py-10 px-20 flex justify-between items-center">
              <p class=" text-white"> <span class="text-4xl font-medium">Satıcı mı olmak istiyorsunuz?</span> <br> <span class="text-lg">Tek yapmanız gereken başvuru formunu doldurmak! </span></p>
              <a href = "{% url 'satici_basvuru' %}" class="px-5 py-3  font-medium text-slate-700 shadow-xl  hover:bg-white duration-150  bg-orange-300">HEMEN BAŞVURUN </a>
            </div>
            {% else %}
            <div class="w-full bg-[#8abcd7] shadow-xl shadow-blue-200 py-10 px-20 flex justify-between items-center">
              <p class=" text-white"> <span class="text-4xl font-medium">Satıcı olmak için başvurdunuz!</span> <br> <span class="text-lg">Başvuru formunuz değerlendiriliyor. </span></p>
              <button class="px-5 py-3  font-medium text-slate-700 shadow-xl  hover:bg-white duration-150 bg-orange-300" disabled>ONAY BEKLİYOR </button>
            </div>
            {% endif %}
        {% endif %}
    {% else %}
    <div class="w-full bg-purple-600 shadow-xl shadow-purple-400 py-10 px-20 flex justify-between items-center">
      <p class=" text-white"> <span class="text-4xl font-medium">Premium olmak için başvurdunuz!</span> <br> <span class="text-lg">Başvurunuz değerlendiriliyor. </span></p>
      <button class="px-5 py-3  font-medium text-slate-700 shadow-xl  hover:bg-white duration-150 bg-orange-300" disabled>ONAY BEKLİYOR </button>
    </div>
    {% endif %}
  {% endif %}   

</div>

{% endblock %}